.heroImage {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: relative;
}

.heroOverlay {
  z-index: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: auto;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.55);
}