@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'MyAvant';
  src: local('MyAvant'), url(./assets/itc-avant-garde-gothic-lt-bold.ttf) format('opentype');
}

.headerText {
  font-family: "MyAvant";
}