@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'AvBold';
  src: local('AvBold'), url(./assets/itc-avant-garde-gothic-lt-bold.ttf) format('opentype');
}

@font-face {
  font-family: 'MyAvant';
  src: local('MyAvant'), url(./assets/Avant/ITCAvantGardeStdMdCn.woff) format('opentype');
}

.text {
  font-family: "MyAvant";
}